<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= fish.name %>></title>
  </head>
  <body>
    <%- include('../partials/_navbar') %>
    <h1><%= fish.name %></h1>
    <p>Created by <%= fish.owner.username %></p>
    <% if (fish.temperature >= 20) { %>
        <p>This fish needs temperatures over 20 degrees Celsius, so you may need a heater.</p>
    <% } else { %>
        <p>This fish is happy at normal room temperature.</p>
    <% } %>
    <% if (fish.isCarnivorous) { %>
        <p>Be careful, it may eat its tankmates!</p>
    <% } else { %>
        <p>It should be safe to stock with other fish.</p>
    <% } %>

    <% if (user && fish.owner._id.equals(user._id)) { %>
      <form action="/fish/<%= fish._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= fish.name %></button>
      </form>
      <a href="/fish/<%= fish._id %>/edit">Edit <%= fish.name %></a>
    <% } %>
      
    <h2>Comments</h2>

    <% if (user) { %>
      <form action="/fish/<%= fish._id %>/comments" method="POST">
        <label for="text">Say something about this fish:</label>
        <input type="text" name="text" id="text" />
        <button type="submit">Add comment</button>
      </form>
    <% } else { %>
      <p><a href="/auth/sign-in">Sign in</a> to leave a comment</p>
    <% } %>

    
    
    <a href="/fish">Back to fish</a>
  </body>
</html>
